*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (min-width: 112.5rem) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75rem) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5rem) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25rem) {
  body {
    padding: 0;
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  70% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }
  70% {
    transform: translateX(3.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  70% {
    transform: translateX(-3.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* project wide => font-definations */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: 0.85s slideFromLeft ease-out;
}
@media (max-width: 37.5rem) {
  .heading-primary--main {
    letter-spacing: 1;
    font-size: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation-name: moveFromRight;
  animation-duration: 0.85s;
  animation-timing-function: ease-out;
  /* animation-delay: 1s; */
  /* animation-iteration-count: 5; */
}
@media (max-width: 37.5rem) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}
@media (max-width: 56.25rem) {
  .heading-secondary {
    font-size: 2.75rem;
  }
}
@media (max-width: 37.5rem) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skewX(2deg) skewY(10deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.heading-tertiary {
  font-size: calc(1.6rem * 1.1);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: calc(1.6rem * 1.1);
  margin-bottom: 5rem;
}
.paragraph:last-of-type {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-large {
  margin-bottom: 10rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-large {
  margin-top: 10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  border: none;
  cursor: pointer;
}
.btn--white {
  background-color: #fff;
  color: #777;
  padding: 1.5rem 2.5rem;
  display: inline-block;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #55c57a;
  color: #fff;
  padding: 1.5rem 2.5rem;
  display: inline-block;
}
.btn--green::after {
  background-color: #55c57a;
}
.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.4, 1.65);
}
.btn:active {
  transform: translateY(0);
  /* box-shadow: x-offset y-offset blur-radius color */
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}
.btn--animated {
  animation-duration: 0.65s;
  animation-delay: 0.2s;
  animation-name: moveUp;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.35s ease-out;
}

.btn-about:link, .btn-about:visited {
  font-size: calc(1.6rem * 1.1);
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #55c57a;
  padding: 1rem;
  transition: all 0.25s ease-out;
}
.btn-about:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  transform: translateY(-0.75rem);
}
.btn-about:active {
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 60%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  position: absolute;
  z-index: 1;
  transition: all 0.15s ease-out;
  outline-offset: 2rem;
}
@media (max-width: 56.25rem) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.33%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo--p1 {
  top: -2rem;
  left: 0;
}
@media (max-width: 56.25rem) {
  .composition__photo--p1 {
    top: 2rem;
    transform: scale(1.3);
  }
}
.composition__photo--p2 {
  top: 6rem;
  right: 5rem;
}
@media (max-width: 56.25rem) {
  .composition__photo--p2 {
    top: -1rem;
    left: 1.5rem;
    transform: scale(1.3);
    z-index: 2;
  }
}
.composition__photo--p3 {
  top: 14rem;
  left: 10%;
}
@media (max-width: 56.25rem) {
  .composition__photo--p3 {
    left: 0;
    top: 2rem;
    transform: scale(1.3);
  }
}
.composition__photo:hover {
  transform: scale(1.1) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 2;
  outline: 1.25rem solid #55c57a;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.features-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-out;
}
@media (max-width: 56.25rem) {
  .features-card {
    padding: 1.5 0rem;
    line-height: 1;
  }
}
.features-card__icon {
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 6rem;
  color: transparent;
}
@media (max-width: 56.25rem) {
  .features-card__icon {
    margin-bottom: 0;
  }
}
.features-card:hover {
  transform: scale(1.05) translateY(-1.25rem);
}

.card {
  perspective: 75rem;
  -moz-perspective: 75rem;
  position: relative;
  height: 50rem;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card__side--back-primary {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-secondary {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-tertiary {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 23rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 100%);
}
.card__picture--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card__picture--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)), url(../img/nat-6.jpg);
}
.card__picture--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)), url(../img/nat-5.jpg);
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  text-align: right;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--secondary {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--primary {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--tertiary {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__list {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}
.card__list-items {
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
}
.card__list-items:not(:last-child) {
  border-bottom: 2px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  text-align: center;
}
.card__price-box {
  color: #fff;
  padding-bottom: 5rem;
}
.card__price-prefix {
  font-size: 1.6rem;
  text-transform: uppercase;
}
.card__price {
  font-size: 6rem;
  font-weight: 100;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
  padding: 6rem;
  padding-left: 9rem;
  font-size: calc(1.6rem * 1.05);
  transform: skewX(-10deg);
}
.story > * {
  transform: skewX(10deg);
}
.story__profile-img-container {
  height: 15rem;
  width: 15rem;
  clip-path: circle(50%);
  float: left;
  position: relative;
  shape-outside: circle(50% at center);
  transform: translateX(-2.5rem) skewX(10deg);
}
.story__profile-img {
  height: 100%;
  transform: scale(1.25);
  transition: all 0.5s ease-out;
}
.story__profile-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-out;
}
.story:hover .story__profile-caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__profile-img {
  transform: scale(1);
  filter: blur(0.5rem) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 0.15;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__group:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
.form__input {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  border: none;
  border-bottom: 0.4rem solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  color: inherit;
  width: 90%;
  display: block;
  transition: all 0.3s ease-out;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-bottom: 0.4rem solid #28b485;
}
.form__input:focus:invalid {
  border-bottom: 0.4rem solid red;
}
.form__input::placeholder {
  color: #999;
  text-transform: capitalize;
}
.form__label {
  font-size: 1.35rem;
  font-weight: bold;
  margin-left: 2rem;
  display: block;
  margin-top: 0.75rem;
  text-transform: capitalize;
  transition: all 0.3s ease-out;
  transform: translateY(0);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 45%;
  display: inline-block;
}
.form__label-radio {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-btn {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.45rem;
}
.form__radio-btn::after {
  content: "";
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.form__input-radio {
  display: none;
}
.form__input-radio:checked + .form__label-radio .form__radio-btn::after {
  opacity: 1;
  background-color: #55c57a;
}

.footer {
  background-color: #333;
  padding: 8rem 0;
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25rem) {
  .footer__logo-box {
    margin-bottom: 0;
  }
}
.footer__logo {
  height: 10rem;
}
.footer__navigation {
  padding-top: 2rem;
  border-top: 0.1rem solid #999;
  display: inline-block;
}
@media (max-width: 56.25rem) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__list-item {
  display: inline-block;
}
.footer__list-item:not(:last-child) {
  margin-right: 1.75rem;
}
.footer__link {
  transition: all 0.3s ease-out;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: capitalize;
}
.footer__link:hover, .footer__link:active {
  color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotateX(10deg) scale(1.05);
}
.footer__link:focus {
  outline: 0.2rem solid #28b485;
  outline-offset: 1rem;
  border-radius: 0.5rem;
}
.footer__copyright {
  color: #f7f7f7;
  padding-top: 2rem;
  border-top: 0.1rem solid #999;
  width: 90%;
  float: right;
}
@media (max-width: 56.25rem) {
  .footer__copyright {
    width: 100%;
    float: none;
    text-align: center;
  }
}
@media (max-width: 56.25rem) {
  .footer {
    padding: 8rem 0;
  }
}

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: inline-block;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup__close:link, .popup__close:visited {
  text-decoration: none;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 4rem;
  color: #777;
  transition: color 0.3s;
  line-height: 0.75;
}
.popup__close:hover {
  color: #55c57a;
}
.popup__content {
  width: 75%;
  height: 50rem;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: table;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.35);
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__left {
  width: 33.3%;
  display: table-cell;
}
.popup__right {
  width: 66.6%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.6rem;
  margin-bottom: 4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 0.2rem solid #eee;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*creates a clipping region that sets what part of an element should be shown. 
  Parts that are inside the region are shown, while those outside are hidden. */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.grid__row {
  max-width: 114rem;
  margin: 0 auto;
}
.grid__row:not(:last-of-type) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25rem) {
  .grid__row:not(:last-of-type) {
    margin-bottom: 6rem;
  }
}
.grid__row::after {
  content: "";
  display: table;
  clear: both;
}
.grid__row [class^=grid__row--] {
  float: left;
}
.grid__row [class^=grid__row--]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25rem) {
  .grid__row [class^=grid__row--]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25rem) {
  .grid__row [class^=grid__row--] {
    width: 100%;
  }
}
.grid__row--half {
  width: calc((100% - 6rem) / 2);
}
.grid__row--thirds {
  width: calc((100% - (6rem * 2)) / 3);
}
.grid__row--twoThirds {
  width: calc((200% - (6rem)) / 3);
}
.grid__row--forths {
  width: calc((100% - (6rem * 3)) / 4);
}
.grid__row--threeForths {
  width: calc((300% - 6rem) / 4);
}
@media (max-width: 56.25rem) {
  .grid__row {
    max-width: 50rem;
  }
}

.navigation {
  height: 100%;
  width: 100%;
}
.navigation__bg {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 2;
  transition: transform 0.8s;
}
@media (max-width: 56.25rem) {
  .navigation__bg {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5rem) {
  .navigation__bg {
    top: 2.75rem;
    right: 2.75rem;
  }
}
.navigation__btn {
  display: inline-block;
  text-align: center;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 4;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.navigation__btn:hover {
  cursor: pointer;
}
@media (max-width: 56.25rem) {
  .navigation__btn {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5rem) {
  .navigation__btn {
    top: 2.5rem;
    right: 2.5rem;
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  transition: all 0.8s;
  opacity: 0;
}
.navigation__list {
  list-style: none;
  text-align: center;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__list-item {
  margin: 1rem;
}
.navigation__link {
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 3.5rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  border-radius: 0.5rem;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
}
.navigation__link-prefix {
  display: inline-block;
  padding-right: 1rem;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(67.5);
}
.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}
.navigation__btn-line {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__btn-line, .navigation__btn-line::before, .navigation__btn-line::after {
  transition: transform 0.3s ease-out;
  width: 3rem;
  height: 0.25rem;
  background-color: #333;
  display: inline-block;
}
.navigation__btn-line::before, .navigation__btn-line::after {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__btn-line::before {
  top: -0.8rem;
}
.navigation__btn-line::after {
  top: 0.8rem;
}
.navigation__btn:hover .navigation__btn-line::before {
  transform: translateY(-0.2rem);
}
.navigation__btn:hover .navigation__btn-line::after {
  transform: translateY(0.2rem);
}
.navigation__checkbox:checked + .navigation__btn .navigation__btn-line {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__btn .navigation__btn-line::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__btn .navigation__btn-line::after {
  top: 0;
  transform: rotate(-135deg);
}

.about-section {
  padding: 25rem 0;
  margin-top: calc((95vh - 75vh) * -1);
  background-color: #f7f7f7;
}
@media (max-width: 56.25rem) {
  .about-section {
    padding: 20rem 0;
  }
}

.features-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  margin-top: -6.4rem;
}
.features-section > * {
  transform: skewY(4deg);
}
@media (max-width: 56.25rem) {
  .features-section {
    padding: 10rem 0;
  }
}

.tours-section {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -4.9rem;
}
@media (max-width: 56.25rem) {
  .tours-section {
    padding: 20rem 0 10rem 0;
  }
}

.stories-section {
  padding: 15rem 0;
  position: relative;
}
@media (max-width: 56.25rem) {
  .stories-section {
    padding: 10rem 0;
  }
}

.booking-section {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
@media (max-width: 56.25rem) {
  .booking-section {
    padding: 10rem 0;
  }
}

.booking {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 40% 100%), url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.4);
}
.booking__form-box {
  width: 50%;
  padding: 4rem;
}

/*# sourceMappingURL=style.css.map */
