* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* project wide => font-definations */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /*creates a clipping region that sets what part of an element should be shown. 
  Parts that are inside the region are shown, while those outside are hidden. */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header__logo {
  height: 35px;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: 0.85s slideFromLeft ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;
  animation-name: moveFromRight;
  animation-duration: 0.85s;
  animation-timing-function: ease-out;
  /* animation-delay: 1s; */
  /* animation-iteration-count: 5; */
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  transition: all 0.3s;
  position: relative;
}
.btn--white {
  background-color: #fff;
  color: #777;
  padding: 15px 25px;
  display: inline-block;
}
.btn--white::after {
  background-color: #fff;
}
.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(1.4, 1.65);
}
.btn:active {
  transform: translateY(0);
  /* box-shadow: x-offset y-offset blur-radius color */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.btn--animated {
  animation-duration: 0.65s;
  animation-delay: 0.2s;
  animation-name: moveUp;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.35s ease-out;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  70% {
    transform: translateX(35px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  70% {
    transform: translateX(-35px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
