$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

$color-black: #000;
$color-black-light: rgba(
  $color: $color-black,
  $alpha: 0.4,
);

// TODO: add some common box-shadows
// TODO: re-factor

$box-shadow-medium: 0 rem 4rem
  rgba(
    $color: $color-black,
    $alpha: 0.4,
  );

$box-shadow-medium-dark: 0 1rem 2rem $color-black-light;

$box-shadow-small: 0 2rem 4rem
  rgba(
    $color: $color-black,
    $alpha: 0.2,
  );

$grid-width: 114rem;
// TODO: look in media queries where can you find these vars for media queries.
$grid-gutter-vertical: 8rem;
$grid-gutter-vertical-small: 6rem;
$grid-gutter-horizontal: 6rem;

$header-height: 95vh;
$header-clip-path-distance: 75vh;
$about-section-margin-top: calc((#{$header-height} - #{$header-clip-path-distance}) * -1);

$default-font-size: 1.6rem;

// Breakpoints
$breakpoint-mobile: 37.5rem; // 600px
$breakpoint-tablet-potrait: 56.25rem; // 900px
$breakpoint-tablet-landscape: 75rem; // 1200px
$breakpoint-desktop: 112.5rem; // 1800px

$border-radius-small: 0.3rem;
$border-radius-normal: 0.5rem;
$border-radius-large: 0.8rem;

$duration-short: 0.3s;
$duration-medium: 0.5s;
$duration-long: 0.8s;

