.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5rem;
    transition: all 0.3s;
    position: relative;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    padding: 1.5rem 2.5rem;
    display: inline-block;

    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.5rem 2rem $color-black-light;

    &::after {
      opacity: 0;
      transform: scale(1.4, 1.65);
    }
  }

  &:active {
    transform: translateY(0);
    /* box-shadow: x-offset y-offset blur-radius color */
    box-shadow: 0 0.5rem 1.5rem $color-black-light;
  }

  &--animated {
    animation-duration: 0.65s;
    animation-delay: 0.2s;
    animation-name: moveUp;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.35s ease-out;
  }
}

.btn-about {
  &:link,
  &:visited {
    font-size: calc(#{$default-font-size} * 1.1);
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    padding: 1rem;
    transition: all 0.25s ease-out;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem $color-black-light;
    border-radius: 1rem;
    transform: translateY(-0.75rem);
  }

  &:active {
    transform: translateY(0);
  }
}
