.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 50px;
    transition: all 0.3s;
    position: relative;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    padding: 15px 25px;
    display: inline-block;

    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 20px $header-shadow-black;

    &::after {
      opacity: 0;
      transform: scale(1.4, 1.65);
    }
  }

  &:active {
    transform: translateY(0);
    /* box-shadow: x-offset y-offset blur-radius color */
    box-shadow: 0 5px 15px $header-shadow-black;
  }

  &--animated {
    animation-duration: 0.65s;
    animation-delay: 0.2s;
    animation-name: moveUp;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.35s ease-out;
  }
}
