.composition {
  position: relative;

  &__photo {
    width: 60%;
    box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.4);
    border-radius: 0.5rem;
    position: absolute;
    z-index: 1;
    transition: all 0.15s ease-out;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 5rem;
      right: 0;
    }

    &--p3 {
      left: 10%;
      top: 14rem;
    }

    &:hover {
      transform: scale(1.1) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem
        rgba($color: $color-black, $alpha: 0.5);
      z-index: 2;
      outline: 1.25rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
