.features-card {
  background-color: rgba($color: $color-white, $alpha: 0.8);
  padding: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: 0.3);
  transition: all 0.25s ease-out;

  @include responsive($breakpoint-tablet-potrait) {
    padding: 1.5 0rem;
    line-height: 1;
  }

  &__icon {
    display: inline-block;

    // TODO: try implementing re-usable functionality for gradient {here, typography}
    background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;

    font-size: 6rem;
    color: transparent;

    @include responsive($breakpoint-tablet-potrait) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: scale(1.05) translateY(-1.25rem);
  }
}
