.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba($color: $color-black, $alpha: 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: inline-block;

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    &:link,
    &:visited {
      text-decoration: none;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 4rem;
      color: $color-grey-dark;
      transition: color 0.3s;
      line-height: 0.75;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include center-element;
    width: 75%;
    height: 50rem;
    background-color: $color-white;
    box-shadow: $box-shadow-small;
    border-radius: $border-radius-normal;;
    display: table;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.35);
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    width: 33.3%;
    display: table-cell;
  }

  &__right {
    width: 66.6%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: $default-font-size;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 0.2rem solid $color-grey-light-2;

    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
