@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  70% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  70% {
    transform: translateX(3.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }

  70% {
    transform: translateX(-3.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
