/* project wide => font-definations */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: 0.85s slideFromLeft ease-out;

    @include responsive($breakpoint-mobile) {
      letter-spacing: 1;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation-name: moveFromRight;
    animation-duration: 0.85s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 5; */

    @include responsive($breakpoint-mobile) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: transparent;
  transition: all $duration-short;

  @include responsive($breakpoint-tablet-potrait) {
    font-size: 2.75rem;
  }

  @include responsive($breakpoint-mobile) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewX(2deg) skewY(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem $color-black-light;
  }
}

.heading-tertiary {
  font-size: calc(#{$default-font-size} * 1.1);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: calc(#{$default-font-size} * 1.1);
  margin-bottom: 5rem;

  &:last-of-type {
    margin-bottom: 3rem;
  }
}
