.center-text {
  text-align: center !important;
}

.center-element {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.section-pad {
  padding: 15rem 0 !important;
}

.slice-pad {
  padding: 8rem;
}

.card-pad {
  &-medium {
    padding: 4rem;
  }

  &-small {
    padding: 2.5rem;
  }
}

.text-pad {
  &-large {
    padding: 1.5rem 2.5rem !important;
  }

  &-medium {
    padding: 1rem 2rem !important;
  }

  &-small {
    padding: 1rem !important;
  }
}

.margin-bottom {
  &-large {
    margin-bottom: 8rem !important;
  }

  &-medium {
    margin-bottom: 3rem !important;
  }

  &-small {
    margin-bottom: 1.5rem !important;
  }
}

.margin-top {
  &-large {
    margin-top: 8rem !important;
  }

  &-medium {
    margin-top: 3rem !important;
  }

  &-small {
    margin-top: 1.5rem !important;
  }
}
