.about-section {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: $about-section-margin-top;
}

.features-section {
  padding: 20rem 0;

  // implement re-usables functionality for below present in {header, home}
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-4deg);
  margin-top: -6.4rem;

  // TODO: img gets skewed as well afterwards try to remove it
  & > * {
    transform: skewY(4deg);
  }
}

.tours-section {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -4.9rem;
}

.stories-section {
  padding: 10rem 0;
  position: relative;
}

.booking-section {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.booking {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.7) 50%,
      transparent 40% 100%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 2rem 4rem $color-black-light;
  
  &__form-box {
    width: 50%;
    padding: 4rem;
  }
}
