.about-section {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: $about-section-margin-top;
}

.features-section {
  padding: 20rem 0;

  // implement re-usables functionality for below present in {header, home}
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-4deg) translateY(-6.4rem);

  // TODO: img gets skewed as well afterwards try to remove it
  & > * {
    transform: skewY(4deg);
  }
}
