.header {
  position: relative;
  height: $header-height;
  background-image: linear-gradient(
      /* gradient direction */ to right bottom,
      /* color: initial-position */ rgba($color-primary-light, 0.8),
      /* color: final-position*/ rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /*creates a clipping region that sets what part of an element should be shown. 
  Parts that are inside the region are shown, while those outside are hidden. */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% $header-clip-path-distance, 0 100%);

  clip-path: polygon(0 0, 100% 0, 100% $header-clip-path-distance, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
