.navigation {
  height: 100%;
  width: 100%;

  &__bg {
    // TODO: understand why background is sized like this
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 2;
    transition: transform 0.8s;
  }

  &__btn {
    display: inline-block;
    text-align: center;
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 4;
    box-shadow: 0 1rem 2rem rgba($color: #000, $alpha: 0.2);

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox {
    display: none;
  }

  &__nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    transition: all 0.8s;
    opacity: 0;
  }

  &__list {
    @include center-element;
    list-style: none;
    text-align: center;
  }

  &__list-item {
    margin: 1rem;
  }

  &__link {
    transition: all 0.5s ease-in;
    cursor: pointer;

    // TODO: understand backgrounf => {size, position} trick
    &:link,
    &:visited {
      display: inline-block;
      padding: 0.75rem 1.5rem;
      font-size: 3.5rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: capitalize;
      color: $color-white;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      background-size: 250%;
      border-radius: 0.5rem;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__link-prefix {
    display: inline-block;
    padding-right: 1rem;
  }

  &__checkbox:checked ~ &__bg {
    transform: scale(67.5);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  &__btn-line {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      transition: transform 0.3s ease-out;
      width: 3rem;
      height: 0.25rem;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__btn:hover &__btn-line {
    &::before {
      transform: translateY(-0.2rem);
    }

    &::after {
      transform: translateY(0.2rem);
    }
  }

  &__checkbox:checked + &__btn &__btn-line {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(135deg);
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
